

<ion-header [translucent]="true">
  

    <ion-item color="primary">
      <ion-label>RESUMEN</ion-label>
      </ion-item>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
   
    <ion-card-header>
      <div align="center">
      <ion-card-title>EL MERCADO DE LAS APLICACIONES MOVILES EN EL MUNDO </ion-card-title></div>
      <ion-card-subtitle></ion-card-subtitle>
      
      <ion-card-content>
        En la actualidad las personas viven sumergidas en el mundo de las aplicaciones pueden pasar
        horas en el celular, incluso la consultora App Annie asegura que esto ha cambiado los hábitos de
        miles de usuarios que a diario están conectados con el mundo digital, pero la ventaja de esto es
        que las aplicaciones no solo brindan entretenimiento a las personas, sino que se han convertido en
        un generador de empleo importante en todo el mundo.
      </ion-card-content>


    </ion-card-header>
    <div align="center">
    <img src="https://www.ceupe.com/images/easyblog_images/157/b2ap3_medium_Sin-ttulo-_20190211-124354_1.jpg"width
    ="420"height="450" /></div>
    <ion-card-content>
      <div align="center">
      <ion-card-content center>"GRAFICA 1. Negocio de las App"</ion-card-content>  </div>
        <ion-card-content>
          En 2008 cuando Apple inauguró su tienda App Store, se evidencio un crecimiento en la economía
          de las aplicaciones, incluso App Annie señala que en el año 2019 los ingresos de los
          desarrolladores de las aplicaciones fueron de 89.000 millones de dólares y que en el 2020 alcanzó
          los 189.000 millones de dólares, esto muestra que las personas cada vez hacen un mayor uso de
          las aplicaciones y al mismo tiempo esto permite que la economia de los smartphones crezca.
        </ion-card-content>
    
     
    </ion-card-content>
    <div align="center">
    <img src="https://www.ceupe.com/images/easyblog_images/157/b2ap3_medium_Sin-ttulo-_20190211-124410_1.jpg" width
    ="420"height="450" /></div>
    <ion-card-content>
      <div align="center">
      <ion-card-content>
        
        "GRAFICA 2. Ranking de Apps"
      </ion-card-content> </div>
        <ion-card-content>
          Así, la economía de las aplicaciones goza de una buena estabilidad en el mercado, incluso en el
          2016 las descargas en las tiendas oficiales aumentaron en un 15% y el tiempo de uso también se
          incrementó en un 25%, lo cual llevo a las tiendas de Google y Apple pagarles más a los creadores
          de utilidades mas de 35.000 millones de dólares.

        </ion-card-content>
     
      
      </ion-card-content>
      <div align="center">
      <img src="https://www.ceupe.com/images/easyblog_images/157/Sin-ttulo-_20190211-124451_1.jpg" width
      ="420"height="450" /></div>
      <ion-card-content>
      <div align="center">
        <ion-card-content>
          "GRAFICA 3. Encontrar Apps"
        </ion-card-content>
      </div>
     
      <ion-card>
        <div align="center">
        <H2>TIP</H2>
        <ion-card-content>
          "Para tener una aplicacion exitosa se debe elegir la plataforma adecuada, 
          crear campaña de lanzamiento, crear anuncios gestionando correctamente el tiempo y los contactos, promocionarla en las redes 
          mas utilizadas, brindar contenido intuitivo en poca palabras se le debe hacer la vida mas facil al usuario" 
        </ion-card-content></div>
       
      </ion-card>


    </ion-card-content>
      
    
       
</ion-card>
  
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>

